$WHITE: #ffffff;
$BLACK: #000000;

$RED: #dd5257;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #54b97e;
$TEAL: #5ac8fa;
$BLUE: #4880ee;
$DEEP_BLUE: #353c49;
$DEEP_BLUE2: #505867;

$LIGHT_BLUE: #f0f7ff;
$LIGHT_BLUE2: #f8fbff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$OVERLAY: #00000080;

$GRAY: #8e8e93;
$GRAY2: #939aa1;
$GRAY3: #b1b8c0;
$GRAY4: #dadce0;
$GRAY5: #eef0f2;
$GRAY6: #f2f4f6;
$DARK_GRAY3: #48484a;
$DARK_GRAY4: #3a3a3c;
