@use '/src/styles/constants/colors';

.btn {
  position: relative;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 16px;
  color: colors.$WHITE;
  background-color: colors.$TEAL;
  border-radius: 5px;
}
